@keyframes slidein {
    from {
      margin-left: 100%;
      width: 1000%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(185,253,45,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    padding: 16px;
}

nav {

    padding: 16px;
}

ul {
    display: inline-block;
    list-style: none;

}

#footer {
    bottom: 0px;

}

img {
    height: 200px;
    box-shadow: 10px 5px 5px blue;

}

#first{
    animation-duration: .3s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}

#second{
    animation-duration: .5s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}

#third{
    animation-duration: 1s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}

#fourth{
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}

#fith{
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}
#six {
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}


.list {
    display: inline-grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 50px;
}

a:hover {
    color: blue;
    transition: 3s;
}

p {
    padding: 10px;
}
#rating {
    padding: 5px;
}

a {
    text-decoration: none;
}
nav {
    background-color: aquamarine;
}

#header1 {
    color:blueviolet
}

#foot {
    bottom: 0%;
    position: fixed;
    width: 100%;
    height: 60px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(90,158,201,1) 100%);
    padding: 12px;
}

.even {
    background-color: turquoise;
}

.ulist {
    font-size: 24px;
    background-color: turquoise;
    padding: 10px;
    font-weight: bold;
}
